analyse/random_sample_similar_words.csv
analyse/thesaurus.w2v
analyse/word2vec_graph.gexf
analyse/news-embeddings/*
analyse/*.gephi
analyse/*.gexf
latex/end.aux
latex/main.aux
latex/main.bbl
latex/main.blg
latex/main.fdb_latexmk
latex/main.fls
latex/main.log
latex/main.out
latex/main.toc
latex/main.synctex.gz
latex/thesis1.bib
latex/_minted-main/*
word2vec/ruscorpora_upos_skipgram_300_5_2018/*
glove_python/ruscorpora_upos_skipgram_300_5_2018/*
output.pq/*
glove/*
data.csv/*
*.vec
*.model
*.kv*
*.pq